[Desktop Entry]
Comment[en_US]=Edit file as root
Comment=Edit file as root
Exec=kdesu kwrite %U
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=kwrite
InitialPreference=8
Keywords=text;txt;editor;note;notepad;
MimeType=text/plain;
Name[en_US]=KWrite su
Name=KWrite su
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=kwrite
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kwrite/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
